.newProduct {
	flex: 4;
}

.addProductForm {
	gap: 1rem;
	display: flex;
	justify-content: start;
	flex-direction: column;
	/* flex-wrap: wrap; */
}

.addProductItem {
	width: 60%;
	margin: 0 20px 0 0;
	flex-direction: column;
}

.addProductItem > label {
	color: gray;
	font-weight: 600;
	margin-bottom: 4px;
}

.addProductItem > input {
	padding: 10px;
}

.addProductItem > select {
	padding: 10px;
}

.addProductButton {
	height: 30px;
	margin-top: 10px;
	padding: 7px 10px;
	border: none;
	border-radius: 10px;
	background-color: darkblue;
	color: white;
	font-weight: 600;
	cursor: pointer;
	align-self: start;
}

.addProductButton:disabled {
	background-color: gray;
}
